<section>
  <div class="container">
    <div class="row">
      <div class="col-12">

        <!-- General information -->
        <p>
          <strong>Informacje ogólne</strong>
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla imperdiet semper convallis. Curabitur in tortor
          diam. Fusce nec sodales sapien. Proin volutpat pretium massa et eleifend. Nullam tempor vel purus ac placerat.
          Vivamus eu erat ligula. Sed condimentum nisi at libero sodales commodo. Proin nisl nisl, accumsan sit amet
          molestie vitae, fermentum scelerisque mauris. Proin lacinia porttitor consequat. In ultricies leo ac purus
          elementum ultricies. Vestibulum ac accumsan sapien, et iaculis odio. Proin sed pellentesque diam. Donec
          efficitur neque vel risus faucibus aliquam. Etiam vitae ligula at justo tristique vulputate vitae id justo.
          Duis iaculis erat at ornare aliquet.
        </p>
        <p>
          Integer varius eleifend ullamcorper. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per
          inceptos himenaeos. Duis tincidunt, felis maximus tempus aliquam, neque nisl porttitor massa, in convallis
          lorem enim et purus. Donec eu vestibulum nulla. Curabitur ut ligula sodales leo consectetur vehicula sed id
          nibh. Morbi mattis semper rutrum. Duis tincidunt semper sapien, eu aliquam lectus dictum sed. Nulla id sem et
          eros posuere feugiat. Nunc gravida mauris in ante tincidunt, aliquet tempor massa lacinia. Praesent iaculis
          porttitor lectus, id facilisis erat consequat ut.
        </p>

        <!-- Payments methods -->
        <p>
          <strong>Metody płatności</strong>
        </p>
        <p>
          Nullam sagittis odio dictum laoreet molestie. Vestibulum eget fringilla sem. Mauris vulputate lacus vel
          rhoncus congue. Etiam venenatis nisi vel egestas elementum. Morbi faucibus facilisis finibus. Pellentesque sed
          pellentesque libero, ut dictum ante. Morbi condimentum dolor a eros ullamcorper, in suscipit mi pellentesque.
          Nulla auctor leo ac maximus ornare.
        </p>
        <ul>
          <li>suspendisse potenti sed tempus elit vel</li>
          <li>convallis molestie ornare</li>
          <li>porttitor lobortis enim nisi nec felis</li>
          <li>malesuada eget quam semper</li>
        </ul>
        <p>
          Suspendisse ornare, neque fringilla viverra hendrerit, dolor nisl aliquet nunc, porttitor lobortis enim nisi
          nec felis. Nullam cursus scelerisque lectus at consequat. Nullam pharetra dapibus nulla, sit amet venenatis
          enim pharetra ac. Sed vestibulum quis tortor at pellentesque
        </p>

        <!-- Cashless payments -->
        <p>
          <strong>Płatności bezgotówkowe</strong>
        </p>
        <p>
          Suspendisse potenti. Sed tempus elit vel neque dignissim egestas. Vestibulum nec velit vitae libero posuere
          finibus sodales ut lacus. Aliquam sed tincidunt augue. Nam id purus hendrerit, fringilla nulla eu, euismod
          diam. Cras ac tristique libero, non vehicula augue. Etiam eleifend magna ac arcu ullamcorper, sed fermentum
          est sodales. Aliquam leo eros, rutrum sed mauris nec, convallis faucibus mauris. Ut et eleifend urna. Duis
          interdum dapibus nulla eget egestas. Curabitur convallis molestie ornare. Lorem ipsum dolor sit amet,
          consectetur adipiscing elit. Suspendisse vitae urna lobortis, molestie nisi ut, aliquet tortor. Sed eget odio
          arcu. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Ut vehicula
          neque ut quam lacinia dignissim.
        </p>

      </div>
    </div>
  </div>
</section>
