<!-- Upper container -->
<div class="upper-footer">
  <div class="container">

    <!-- Social and newsletter -->
    <div class="footer-business-info">
      <div class="container footer-business-wrapper">

        <!-- Social icons -->
        <div class="footer-social-text">ZNAJDŹ NAS</div>
        <div class="footer-social-icons">
          <a href="#" target="_blank">
            <i class="fab fa-facebook-f"></i>
          </a>
          <a href="#" target="_blank">
            <i class="fab fa-twitter"></i>
          </a>
          <a href="#" target="_blank">
            <i class="fab fa-google-plus-g"></i>
          </a>
        </div>

        <!-- Newsletter -->
        <div class="footer-newsletter-form">
          <form>
            <span class="form-control-wrap">
              <input placeholder="Zapisz się na newsletter" type="email"/>
            </span>
            <input type="submit" value="Zapisz">
          </form>
        </div>
      </div>
    </div>

    <!-- Short links -->
    <div class="container">
      <div class="row">

        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
          <div class="footer_widget">
            <h5 class="widget-title"><span>Services</span></h5>
            <div class="menu-services-container">
              <ul class="menu">
                <li><a>Performance check</a></li>
                <li><a>Performance check</a></li>
                <li><a>Performance check</a></li>
                <li><a>Performance check</a></li>
                <li><a>Performance check</a></li>
              </ul>
            </div>
          </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
          <div class="footer_widget">
            <h5 class="widget-title"><span>Services</span></h5>
            <div class="menu-services-container">
              <ul class="menu">
                <li><a>Performance check</a></li>
                <li><a>Performance check</a></li>
                <li><a>Performance check</a></li>
                <li><a>Performance check</a></li>
                <li><a>Performance check</a></li>
              </ul>
            </div>
          </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
          <div class="footer_widget">
            <h5 class="widget-title"><span>Services</span></h5>
            <div class="menu-services-container">
              <ul class="menu">
                <li><a>Performance check</a></li>
                <li><a>Performance check</a></li>
                <li><a>Performance check</a></li>
                <li><a>Performance check</a></li>
                <li><a>Performance check</a></li>
              </ul>
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>
</div>

<!-- Bottom footer -->
<div class="lower-footer">
  <div class="container">
    <span>Design by DomaCar. All rights reserved.</span>
  </div>
</div>
