<section>
  <div class="container">

    <!-- Tabs -->
    <div class="row">

      <!-- Tabs list -->
      <div class="vc_tta-tabs-container">
        <ul class="vc_tta-tabs-list">

          <li class="vc_tta-tab vc_active">
            <a href="#">
              <span class="vc_tta-title-text">Części do pojazdu</span>
            </a>
          </li>

          <li class="vc_tta-tab">
            <a href="#">
              <span class="vc_tta-title-text">Wyszukiwarka części</span>
            </a>
          </li>

        </ul>
      </div>

      <!-- Tab output -->
      <div class="vc_tta-tabs-output">
        Wyszukiwanie
      </div>

    </div>


  </div>
</section>
