<section>
  <div class="container">

    <!-- Parts product-search -->
    <div class="row">
      <div class="col-12">
        <h2>Wyszukiwarka części</h2>
        <div class="row">
          <div class="col-md-6">
            <input placeholder="Wpisz nazwę lub numer części" type="text"/>
          </div>
          <div class="col-md-6">
            <a (click)="$event.preventDefault()" href="#">
              <i class="fas fa-search"></i>
              Szukaj
            </a>
          </div>
        </div>
      </div>
    </div>

    <!-- Vehicle product-search -->
    <div class="row">
      <div class="col-12">
        <h2>Części do pojazdu</h2>
        <div class="row">
          <div class="col-md-4">
            <input placeholder="Marka" type="dropdown"/>
          </div>
          <div class="col-md-4">
            <input placeholder="Model" type="dropdown"/>
          </div>
          <div class="col-md-4">
            <input placeholder="Typ" type="dropdown"/>
          </div>
        </div>
        <a (click)="$event.preventDefault()" href="#">
          <i class="fas fa-search"></i>
          Szukaj
        </a>
      </div>
    </div>

  </div>
</section>
