<section>
  <div class="container">
    <div class="row">

      <div class="col-sm-6 col-lg-3">
        <span class="counter-value">12</span>
        <span class="counter-text">współpracujących firm</span>
      </div>
      <div class="col-sm-6 col-lg-3">
        <span class="counter-value">145</span>
        <span class="counter-text">założonych kont</span>
      </div>
      <div class="col-sm-6 col-lg-3">
        <span class="counter-value">175</span>
        <span class="counter-text">zadowolonych klientów</span>
      </div>
      <div class="col-sm-6 col-lg-3">
        <span class="counter-value">180</span>
        <span class="counter-text">sprzedanych towarów</span>
      </div>

    </div>
  </div>
</section>
