<section>
  <div class="container">
    <div class="row">
      <div class="col-12">

        <!-- General information -->
        <p>
          <strong>Informacje ogólne</strong>
        </p>
        <p>
          Vestibulum gravida nec dui non egestas. Duis hendrerit lorem nec lorem semper, ac dapibus massa elementum.
          Pellentesque pulvinar lacus vel mauris ultrices, eget ullamcorper erat porta. Nunc mattis lacus vitae
          convallis luctus. Aliquam quis metus est. Nunc tempus lectus at nisi tincidunt euismod. Proin et dignissim
          dui, sit amet feugiat mi. Aenean a pellentesque nulla. Nam sed purus eros. Praesent posuere arcu id ipsum
          mollis, in vehicula purus semper. Sed placerat orci ut congue tempor.
        </p>
        <p>
          Mauris non dui hendrerit, vehicula tortor eu, euismod justo. Sed consequat justo leo. Suspendisse volutpat
          nunc augue, id vestibulum nulla viverra nec. Phasellus varius varius ligula id facilisis. Integer placerat est
          sem, sit amet aliquet sapien suscipit et. Curabitur pellentesque dolor in ex tempus, eu elementum purus
          mattis. Integer sit amet massa fermentum, venenatis massa eu, viverra dui. Cras cursus vitae nisl ullamcorper
          mattis. Integer odio magna, tempus vitae consequat at, mollis in nunc. Curabitur nec lectus dictum, accumsan
          ligula et, vestibulum erat. Praesent et ornare sapien. Curabitur venenatis, lorem vel pretium aliquam, turpis
          massa feugiat ipsum, sit amet imperdiet eros libero nec dolor. Quisque luctus turpis malesuada leo sagittis,
          vitae gravida ipsum efficitur. Curabitur mattis nibh ut magna bibendum, ac suscipit quam aliquet. Praesent nec
          massa porta, lobortis justo non, ornare neque.
        </p>

        <!-- Return process -->
        <p>
          <strong>Przebieg zwrotu</strong>
        </p>
        <p>
          Sed mi nibh, sagittis sed condimentum a, pharetra at ipsum. Nullam scelerisque non leo eget volutpat. Aliquam
          erat volutpat. Vivamus porttitor, lectus in mollis dictum, tortor massa blandit tortor, sit amet accumsan
          turpis nisi sit amet nunc. Suspendisse vitae leo orci. Ut nec justo ligula. Maecenas eu varius mauris, vel
          suscipit tortor. Etiam congue accumsan metus, sit amet aliquet tellus vulputate aliquam. Curabitur vitae nibh
          dignissim, consequat risus ac, rutrum turpis. In bibendum mi libero, vel gravida elit condimentum quis. Cras
          at viverra velit. Maecenas bibendum, metus non consequat dictum, orci neque eleifend ex, id ultricies ante
          risus eu tortor.
        </p>
        <ul>
          <li>suspendisse potenti sed tempus elit vel</li>
          <li>convallis molestie ornare</li>
          <li>porttitor lobortis enim nisi nec felis</li>
          <li>malesuada eget quam semper</li>
        </ul>
        <p>
          Suspendisse ornare, neque fringilla viverra hendrerit, dolor nisl aliquet nunc, porttitor lobortis enim nisi
          nec felis. Nullam cursus scelerisque lectus at consequat. Nullam pharetra dapibus nulla, sit amet venenatis
          enim pharetra ac. Sed vestibulum quis tortor at pellentesque
        </p>

        <!-- Complaints -->
        <p>
          <strong>Zasady reklamacji</strong>
        </p>
        <p>
          Morbi eget odio iaculis, ullamcorper felis vitae, ornare quam. Lorem ipsum dolor sit amet, consectetur
          adipiscing elit. Maecenas quam lorem, rhoncus sollicitudin imperdiet eu, aliquet nec nibh. Praesent a pulvinar
          nunc, sit amet sodales elit. Fusce malesuada varius risus id scelerisque. Nam et mattis odio. Morbi consequat
          eros ac metus imperdiet, in tempor risus lacinia. Sed malesuada eros neque, in posuere lorem aliquet nec.
          Nullam faucibus rutrum aliquam. Suspendisse blandit varius orci, rutrum hendrerit nisl posuere sed. Fusce
          pretium bibendum urna, vel bibendum justo consectetur ut. Fusce sollicitudin elit eros, eget sodales eros
          viverra in. Donec mi tellus, mollis ut tincidunt id, accumsan at nibh. Praesent et sem vehicula, sagittis
          velit at, suscipit est. Pellentesque ultricies, diam tempor bibendum tincidunt, metus lorem tristique tortor,
          sed auctor neque lorem non mauris. Suspendisse placerat tellus vitae dolor pharetra, ac dictum magna
          convallis.
        </p>

      </div>
    </div>
  </div>
</section>
