<!-- Upper container -->
<div class="upper-footer">
  <div class="container">

    <!-- Social and newsletter -->
    <div class="footer-business-info">
      <div class="container footer-business-wrapper">

        <!-- Social icons -->
        <div class="footer-social-wrapper">
          <div class="footer-social-text">ZNAJDŹ NAS</div>
          <div class="footer-social-icons">
            <a href="#" target="_blank">
              <i class="fab fa-facebook-f"></i>
            </a>
            <a href="#" target="_blank">
              <i class="fab fa-twitter"></i>
            </a>
            <a href="#" target="_blank">
              <i class="fab fa-google-plus-g"></i>
            </a>
          </div>
        </div>

        <!-- Newsletter -->
        <div class="footer-newsletter-form">
          <form>
            <span class="form-control-wrap">
              <input placeholder="Zapisz się na newsletter" size="40" type="email"/>
            </span>
            <input type="submit" value="Zapisz" (click)="$event.preventDefault()">
          </form>
        </div>
      </div>
    </div>

    <!-- Short links -->
    <div class="container short-links">
      <div class="row">

        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
          <div class="footer_widget">
            <h5 class="widget-title"><span>Dane firmy</span></h5>
            <div>
              <p>
                Tincidunt elit magnis nulla facilisis. Dolor sagittis maecenas. Sapien nunc amet
                ultrices, dolores sit ipsum velit purus aliquet, massa fringilla leo orci.
              </p>
            </div>
            <div class="menu-services-container">
              <ul class="menu">
                <li><i class="fas fa-map-marker-alt"></i>&nbsp;Kraków, Polska</li>
                <li><i class="fas fa-phone"></i>&nbsp;525-647-289</li>
                <li><i class="fas fa-envelope"></i>&nbsp;kontakt@domacar.pl</li>
                <li><i class="fas fa-globe"></i>&nbsp;domacar.pl</li>
              </ul>
            </div>
          </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
          <div class="footer_widget">
            <h5 class="widget-title"><span>Na skróty</span></h5>
            <div class="menu-services-container">
              <ul class="menu">
                <li>
                  <a [routerLinkActive]="'active'" [routerLink]="'/generals/about'">
                    O nas
                  </a>
                </li>
                <li>
                  <a [routerLinkActive]="'active'" [routerLink]="'/generals/payments'">
                    Płatności
                  </a>
                </li>
                <li>
                  <a [routerLinkActive]="'active'" [routerLink]="'/generals/shipments'">
                    Dostawa
                  </a>
                </li>
                <li>
                  <a [routerLinkActive]="'active'" [routerLink]="'/generals/returns-complaints'">
                    Zwroty i reklamacje
                  </a>
                </li>
                <li>
                  <a [routerLinkActive]="'active'" [routerLink]="'/generals/privacy-policy'">
                    Polityka prywatności
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>
</div>

<!-- Bottom footer -->
<div class="lower-footer">
  <div class="container">
    <span>Design by DomaCar. All rights reserved.</span>
  </div>
</div>
