<section>
  <div class="container">
    <div class="row">

      <div class="col-lg-4">
        <div class="wpb_wrapper">
          <i class="far fa-clock"></i>
          <h4>Szybka obsługa</h4>
          <p>
            Exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum
            iriure dolor.
          </p>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="wpb_wrapper">
          <i class="far fa-calendar-alt"></i>
          <h4>Terminowa wysyłka</h4>
          <p>
            Exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum
            iriure dolor.
          </p>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="wpb_wrapper">
          <i class="fas fa-boxes"></i>
          <h4>Duży asortyment</h4>
          <p>
            Exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum
            iriure dolor.
          </p>
        </div>
      </div>

    </div>
  </div>
</section>

