<section>
  <div class="container">
    <div class="row">

      <!-- General -->
      <div class="col-lg-6">
        <h3>Trochę o doświadczeniu</h3>
        <p>
          Aenean sit amet nisl et erat dignissim luctus vel vel enim. Mauris aliquam ut enim eu ullamcorper. Suspendisse
          cursus neque et hendrerit auctor. Nunc fringilla, neque eu aliquam pretium, erat lectus pretium quam, ac
          ornare augue purus a est. Vestibulum ac imperdiet purus, a auctor felis.
        </p>
        <p>
          In lacinia tortor mauris, sed ornare turpis volutpat in. Pellentesque rhoncus ut leo a faucibus. Cras risus
          massa, fermentum non mollis id, pulvinar tincidunt ex. Morbi vestibulum felis nec arcu blandit aliquet.
        </p>
      </div>

      <!-- Image -->
      <div class="col-lg-6 image-wrapper">
        <div class="image"></div>
      </div>

    </div>
  </div>
</section>
