.title {
  letter-spacing: -1px;
  text-align: left;
  line-height: 1;
  margin-bottom: 15px;
  font-size: 32px;
  color: #2f2f2f;
  font-weight: 700;
  font-family: Montserrat, serif;
}

.ratings {

  margin-bottom: 20px;

  .ratings-count {
    font-size: 14px;
    font-weight: bold;
  }

}

.price {
  color: #333;
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: 0;
  line-height: 1;
}

.description {
  margin-bottom: 20px;
  font-weight: 100;
}

.meta-data {

  margin-bottom: 20px;

  > span {
    display: block;
    font-weight: bold;
    color: #2f2f2f;
  }

}

.cart {

  display: flex;

  input {
    color: #2f2f2f;
    height: 50px;
    max-width: 80px;
    background-color: #fff;
    border: 2px solid #e6e6e6;
    border-radius: 0;
    box-shadow: none;
    outline: none;
    display: inline-block;
    border-right: 0;
    padding: 0 12px 1px 30px;
    font-size: 13px;
    text-align: center;
    font-weight: 900;
    text-shadow: none;
    letter-spacing: 1px;
  }

  button {

    background-color: #3c5c9e;
    color: #fff;
    border: 2px solid #3c5c9e;
    transition: 0.3s !important;
    text-align: center;
    min-width: 170px;
    font-size: 14px;
    font-weight: 900;
    padding: 16px 25px;
    margin: auto;
    text-transform: uppercase;
    box-sizing: border-box;
    line-height: 1;
    cursor: pointer;
    outline: 0;
    text-decoration: none;
    display: inline-block;
    width: 100%;

    &:active, &:focus {
      background: transparent;
      color: #3c5c9e;
    }

    @media(hover) {
      &:hover {
        background: transparent;
        color: #3c5c9e;
      }
    }

  }

}

