<div class="wrapper-container">
  <div class="container">

    <!-- Brand name -->
    <div id="brand-name">
      <a class="logo" href="/">DomaCar</a>
    </div>

    <!-- Navigation -->
    <div id="main-navigation">

      <!-- Main menu -->
      <ul id="main-menu">
        <li>
          <a href="#">Główna</a>
        </li>
        <li>
          <a href="#">Sklep</a>
        </li>
        <li>
          <a href="#">O nas</a>
        </li>
        <li>
          <a href="#">Kontakt</a>
        </li>
      </ul>

    </div>

  </div>
</div>
