<section>
  <div class="container">
    <div class="row">

      <!-- Gallery -->
      <div class="col-md-6 gallery">
        <app-gallery></app-gallery>
      </div>

      <!-- General -->
      <div class="col-md-6 general">
        <app-general></app-general>
      </div>

      <!-- Details -->
      <div class="col-12 details">
        <app-details></app-details>
      </div>

      <!-- Related -->
      <div class="col-12 related-products">
        <app-related-products></app-related-products>
      </div>

    </div>
  </div>
</section>
