section {
  background-color: #ffffff;
  padding: 80px 0;
  position: relative;
  font-family: museo-sans;
  color: #9e9e9e;
  font-weight: 400;
  font-size: 14px;
  text-align: left;
  line-height: 24px;
}

.gallery, .general {
  margin-bottom: 40px;
}

.general {
  display: flex;
  align-items: center;
}

.border {
  margin-top: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, .1);
}
