<section>
  <div class="container">
    <div class="row">

      <!-- Gallery -->
      <div class="col-md-6 gallery">
        <app-product-gallery></app-product-gallery>
      </div>

      <!-- General -->
      <div class="col-md-6 general">
        <app-product-general></app-product-general>
      </div>

      <!-- Details -->
      <div class="col-12 details">
        <app-product-details></app-product-details>
      </div>

      <!-- Related -->
      <div class="col-12 related-products">
        <app-product-related></app-product-related>
      </div>

    </div>
  </div>
</section>
