<!-- Parallax header -->
<div class="single-page-heading">

  <!-- Background image -->
  <div #parallaxOverlay [ngStyle]="{ 'background-image': 'url(' + (breadcrumb$ | async).parallaxSource + ')'}"
       class="parallax-overlay">
  </div>

  <!-- Title -->
  <div class="container">
    <p class="breadcrumbs">
      Koszyk<span class="fa fa-angle-right"></span>{{ (breadcrumb$ | async).displayName }}
    </p>
    <h1 class="section-heading" style=" color:#ffffff;">
      {{ (breadcrumb$ | async).displayName }}
    </h1>
  </div>

</div>

<!-- Router outlet -->
<router-outlet></router-outlet>
