<section>
  <div class="container">
    <div class="row">
      <div class="col-12">

        <!-- General information -->
        <p>
          <strong>Informacje ogólne</strong>
        </p>
        <p>
          Maecenas quis felis sit amet ante pharetra posuere a vel nisi. Nam blandit eleifend eros, quis lobortis orci
          accumsan ornare. Phasellus eget lacus at eros ullamcorper ornare feugiat vel felis. Quisque ornare augue vitae
          dolor condimentum bibendum. Duis accumsan sodales tortor sit amet efficitur. Pellentesque semper tempor neque,
          et pharetra lacus mollis vel. Morbi ultricies venenatis ultricies. In eleifend arcu ut sem tincidunt,
          vulputate malesuada justo placerat. Ut ut massa blandit, placerat turpis a, sagittis diam. Pellentesque vitae
          sem quis libero gravida tincidunt id id eros. Vestibulum at odio vitae ipsum suscipit cursus. Nulla sem ex,
          hendrerit sed accumsan rhoncus, mattis sit amet odio. Sed feugiat, felis non vestibulum placerat, augue nisi
          rutrum ligula, eu rutrum nisl justo sed ex.
        </p>
        <p>
          Morbi ut mollis enim. In a sapien ante. Ut ut imperdiet nisi. Integer felis quam, porta non lorem eget,
          feugiat cursus ante. Aliquam tristique erat ac mauris vehicula, eget porta dolor ultrices. Donec molestie vel
          quam eget commodo. Cras pellentesque, risus nec tristique interdum, mi neque fermentum dui, ac gravida libero
          enim vitae lacus. Suspendisse potenti. Ut luctus ipsum vitae fringilla faucibus. Quisque eu justo a erat
          vestibulum ornare. Curabitur sed aliquam sem. In leo lectus, euismod vel placerat a, varius sit amet purus.
          Nam semper, ipsum ac vulputate maximus, massa odio suscipit sem, vel facilisis mi leo eu sem. Maecenas justo
          magna, aliquam eu dapibus sit amet, molestie eu neque. Vivamus metus eros, convallis nec quam in, iaculis
          imperdiet risus. Fusce venenatis semper ultrices.
        </p>

        <!-- Personal data -->
        <p>
          <strong>Dane osobowe</strong>
        </p>
        <p>
          Sed mi nibh, sagittis sed condimentum a, pharetra at ipsum. Nullam scelerisque non leo eget volutpat. Aliquam
          erat volutpat. Vivamus porttitor, lectus in mollis dictum, tortor massa blandit tortor, sit amet accumsan
          turpis nisi sit amet nunc. Suspendisse vitae leo orci. Ut nec justo ligula. Maecenas eu varius mauris, vel
          suscipit tortor. Etiam congue accumsan metus, sit amet aliquet tellus vulputate aliquam. Curabitur vitae nibh
          dignissim, consequat risus ac, rutrum turpis. In bibendum mi libero, vel gravida elit condimentum quis. Cras
          at viverra velit. Maecenas bibendum, metus non consequat dictum, orci neque eleifend ex, id ultricies ante
          risus eu tortor.
        </p>
        <ul>
          <li>suspendisse potenti sed tempus elit vel</li>
          <li>convallis molestie ornare</li>
          <li>porttitor lobortis enim nisi nec felis</li>
          <li>malesuada eget quam semper</li>
        </ul>
        <p>
          Suspendisse ornare, neque fringilla viverra hendrerit, dolor nisl aliquet nunc, porttitor lobortis enim nisi
          nec felis. Nullam cursus scelerisque lectus at consequat. Nullam pharetra dapibus nulla, sit amet venenatis
          enim pharetra ac. Sed vestibulum quis tortor at pellentesque
        </p>

        <!-- Storage of information -->
        <p>
          <strong>Przechowywanie informacji</strong>
        </p>
        <p>
          Proin neque lorem, venenatis sed dapibus ac, viverra a tellus. Sed varius porttitor volutpat. Ut eleifend
          finibus feugiat. Praesent sed vehicula turpis, et viverra dolor. Nulla volutpat, erat sed vulputate porttitor,
          arcu risus accumsan odio, eu consequat ligula lacus at lorem. Sed lobortis vehicula dolor ac porttitor. Nulla
          non tincidunt urna, nec elementum nisi. Cras lacinia lectus porta nulla mollis gravida.
        </p>
        <p>
          Morbi eget odio iaculis, ullamcorper felis vitae, ornare quam. Lorem ipsum dolor sit amet, consectetur
          adipiscing elit. Maecenas quam lorem, rhoncus sollicitudin imperdiet eu, aliquet nec nibh. Praesent a pulvinar
          nunc, sit amet sodales elit. Fusce malesuada varius risus id scelerisque. Nam et mattis odio. Morbi consequat
          eros ac metus imperdiet, in tempor risus lacinia. Sed malesuada eros neque, in posuere lorem aliquet nec.
          Nullam faucibus rutrum aliquam. Suspendisse blandit varius orci, rutrum hendrerit nisl posuere sed. Fusce
          pretium bibendum urna, vel bibendum justo consectetur ut. Fusce sollicitudin elit eros, eget sodales eros
          viverra in. Donec mi tellus, mollis ut tincidunt id, accumsan at nibh. Praesent et sem vehicula, sagittis
          velit at, suscipit est. Pellentesque ultricies, diam tempor bibendum tincidunt, metus lorem tristique tortor,
          sed auctor neque lorem non mauris. Suspendisse placerat tellus vitae dolor pharetra, ac dictum magna
          convallis.
        </p>

      </div>
    </div>
  </div>
</section>
