<!-- Desktop view -->
<div class="row">
  <div class="col-12">
    <div class="d-flex">

      <!-- Control buttons -->
      <div>

        <!-- First page -->
        <button ontouchstart class="clickable d-none d-sm-block" (click)="onPageChange(1)">
          <i class="fas fa-angle-double-left"></i>
        </button>

        <!-- Previous page -->
        <button ontouchstart class="clickable d-sm-none" (click)="onPageChange(paginatorState.currentPage - 1)">
          <i class="fas fa-angle-left"></i>
        </button>

      </div>

      <!-- Desktop -->
      <div class="pages-wrapper d-none d-sm-block">
        <button ontouchstart class="clickable" [class.active]="i === paginatorState.currentPage"
                *ngFor="let i of pagesList"
                (click)="onPageChange(i)">
          {{ i }}
        </button>
        <button>z {{ paginatorState.totalPages }} stron</button>
      </div>

      <!-- Mobile -->
      <div class="pages-wrapper d-sm-none">
        <input inputmode="numeric" type="number" [min]="1" [max]="paginatorState.totalPages"
               [value]="paginatorState.currentPage"/>
        <button>z {{ paginatorState.totalPages }} stron</button>
      </div>

      <!-- Control buttons -->
      <div>

        <!-- Next page -->
        <button ontouchstart class="clickable d-sm-none" (click)="onPageChange(paginatorState.currentPage + 1)">
          <i class="fas fa-angle-right"></i>
        </button>

        <!-- Last page -->
        <button ontouchstart class="clickable d-none d-sm-block" (click)="onPageChange(paginatorState.totalPages)">
          <i class="fas fa-angle-double-right"></i>
        </button>

      </div>

    </div>
  </div>
</div>
