@font-face {
  font-family: museo-sans;
  src: url('./MuseoSansRounded300.woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: museo-sans;
  src: url('./MuseoSansRounded500.woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: museo-sans;
  src: url('./MuseoSansRounded700.woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: museo-sans;
  src: url('./MuseoSansRounded900.woff');
  font-weight: 900;
  font-style: normal;
}

