<section>
  <div class="container">
    <div class="row">

      <!-- Description -->
      <div class="col-md-5">

        <h2>Dlaczego my</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque scelerisque libero lectus, vel dapibus
          augue faucibus eu. Integer pharetra, turpis id laoreet accumsan, eros libero dapibus nibh, lobortis ultricies
          nibh eros eu purus.
        </p>
        <a ontouchstart [href]="'/generals/about'">
          <span>Przeczytaj więcej</span>
          <i class="fas fa-plus"></i>
        </a>
      </div>

      <!-- Image -->
      <div class="col-md-7">
        <div class="image"></div>
      </div>

    </div>
  </div>
</section>
