section {
  background-color: #ffffff;
  padding: 80px 0;
  position: relative;
  font-family: 'Montserrat', serif !important;
  color: #9e9e9e;
  font-weight: 400;
  font-size: 14px;
  text-align: left;
  line-height: 24px;
}

h2 {

  text-align: left;
  letter-spacing: -0.7px;
  color: #2f2f2f;
  font-weight: 700;
  font-size: 34px;
  line-height: 45px;
  margin-bottom: 30px;

  @media(min-width: 960px) {
    margin-top: 35px !important;
  }

}

p {
  font-size: 15px;
  text-align: left;
  margin: 0 0 30px 0;
  font-family: museo-sans;
  font-weight: 100;
}

a {

  color: #3c5c9e;
  background: transparent;
  border: 2px solid #3c5c9e;
  transition: 0.3s !important;
  text-align: center;
  min-width: 170px;
  font-size: 14px;
  font-weight: 900;
  padding: 17px 25px;
  margin: auto;
  text-transform: uppercase;
  box-sizing: border-box;
  line-height: 1;
  cursor: pointer;
  outline: 0;
  text-decoration: none;
  font-family: museo-sans;
  display: inline-block;

  &:active, &:focus {
    background-color: #3c5c9e;
    color: #fff;
  }

  @media(hover) {
    &:hover {
      background-color: #3c5c9e;
      color: #fff;
    }
  }

  i {
    margin-left: 10px;
  }

}

div.image {

  background-image: url('~/assets/images/why-us.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 300px;

  @media(max-width: 960px) {
    margin-top: 30px;
    min-height: 200px;
  }

}
