<section>
  <div class="container">
    <div class="row">

      <!-- General -->
      <div class="col-md-6">
        <h3>W skrócie o nas</h3>
        <p>
          Ex per aeque denique constituto, purto populo molestiae ei has. Sea te quaeque nostrum maluisset, id persius
          appetere pro, mea harum ridens regione an. Ei quas nullam vivendo sit molestiae ei has.
        </p>
      </div>

      <!-- Skills -->
      <div class="col-md-6">

        <div class="skill-wrapper">
          <h4>Komunikacja</h4>
          <div class="progress-wrapper">
            <div class="progress-inner" style="width: 80%"></div>
          </div>
        </div>

        <div class="skill-wrapper">
          <h4>Marketing</h4>
          <div class="progress-wrapper">
            <div class="progress-inner" style="width: 65%"></div>
          </div>
        </div>

        <div class="skill-wrapper">
          <h4>Zarządzanie</h4>
          <div class="progress-wrapper">
            <div class="progress-inner" style="width: 70%"></div>
          </div>
        </div>

      </div>

    </div>
  </div>
</section>
