<section>
  <div class="container">
    <div class="row">
      <div class="col-12">

        <!-- General information -->
        <p>
          <strong>Informacje ogólne</strong>
        </p>
        <p>
          Quisque a tristique odio. In eget nulla eget est suscipit dapibus sed quis ante. Cras et tempus dui, sit amet
          viverra nulla. Nam velit sem, venenatis a lacus eu, sollicitudin maximus nisi. Duis placerat venenatis
          lacinia. Quisque mollis volutpat arcu, consequat sollicitudin erat feugiat non. Aliquam tempus accumsan leo,
          ac eleifend ligula lobortis nec. Maecenas sagittis metus a tellus aliquet fermentum. Sed at scelerisque lacus.
          Ut non magna quis nibh tincidunt dapibus ut in augue. In eleifend leo ut magna consectetur efficitur.
          Phasellus pharetra odio at neque aliquam, in ultricies lacus consectetur. Sed sed erat erat. Nam lacinia massa
          vel nisl ultrices bibendum. Aenean lobortis lorem et sem pharetra, nec elementum nunc cursus.
        </p>
        <p>
          Etiam eu arcu ac lacus accumsan consequat. Vestibulum ligula sapien, molestie vitae metus vel, vestibulum
          accumsan nunc. Sed posuere erat a ligula volutpat cursus. Maecenas ullamcorper pharetra felis vitae lobortis.
          Sed ullamcorper nec turpis elementum varius. Integer feugiat cursus lacus, nec interdum libero pharetra id.
          Phasellus id nibh eget dolor accumsan viverra id vitae nibh. Fusce sagittis urna turpis, non ultricies nibh
          facilisis vitae. Aenean porttitor magna et sodales malesuada. Integer tempor tellus eu diam commodo, sed
          interdum nunc molestie. Vivamus non nisl metus. Duis ultricies tellus quis accumsan mollis. Mauris fermentum
          tincidunt ipsum vel accumsan. Pellentesque eu lectus quis purus malesuada rhoncus et sodales urna. Proin ut
          semper dolor. Etiam ut laoreet ipsum.
        </p>

        <!-- Shipments -->
        <p>
          <strong>Metody wysyłki</strong>
        </p>
        <p>
          Donec sit amet nisi vel ante faucibus pretium. Mauris tincidunt eget ante et vestibulum. Donec commodo ante
          nec nulla ultricies, sed mattis mi interdum. Mauris lobortis pretium libero vitae volutpat. Curabitur posuere
          sem quam, in gravida leo auctor id. Praesent vestibulum vestibulum ante sit amet volutpat. Aliquam
          sollicitudin posuere purus, sit amet dignissim orci ultricies vel. Integer semper vehicula ligula. Proin et
          orci dui. Aliquam erat volutpat. Nullam ut dui in quam hendrerit aliquam at vitae elit. Suspendisse
          scelerisque odio faucibus interdum condimentum. Duis luctus scelerisque eros ut faucibus.
        </p>
        <ul>
          <li>suspendisse potenti sed tempus elit vel</li>
          <li>convallis molestie ornare</li>
          <li>porttitor lobortis enim nisi nec felis</li>
          <li>malesuada eget quam semper</li>
        </ul>
        <p>
          In hac habitasse platea dictumst. Quisque maximus a nibh at suscipit. Vivamus sagittis id orci ut cursus. Ut
          sed metus ut nunc ultricies semper. Sed volutpat ex mi, eu molestie lacus vulputate vel. Vivamus placerat
          magna ac eros feugiat vulputate. Fusce bibendum pharetra vulputate. Praesent tristique, libero id luctus
          rutrum, felis metus tempus nulla, sed volutpat velit lectus vitae dolor. Sed interdum dictum nibh et
          scelerisque.
        </p>

        <!-- Personal pickup -->
        <p>
          <strong>Odbiór osobisty</strong>
        </p>
        <p>
          Etiam purus nisl, venenatis a congue nec, sodales a arcu. Aenean aliquet ultricies erat ac gravida. Quisque
          lobortis nibh purus, ac ullamcorper nisl vestibulum at. Lorem ipsum dolor sit amet, consectetur adipiscing
          elit. Nulla sit amet sem id purus tincidunt aliquet. Aenean turpis tellus, accumsan sit amet efficitur et,
          accumsan eleifend sapien. Integer vel purus consequat, rhoncus lectus id, iaculis tortor. Nam a magna ornare,
          fermentum mauris eget, vulputate nisl. Sed eu magna purus. Praesent luctus ipsum lectus, vitae fringilla augue
          mollis in. Praesent nunc leo, consequat sed fermentum quis, rhoncus sit amet felis. Integer et orci congue,
          mattis eros a, imperdiet magna. Proin id pharetra lorem, sit amet blandit quam.
        </p>

      </div>
    </div>
  </div>
</section>
