<!-- Empty cart -->
<p *ngIf="(cartData$ | async).products.length === 0; else cartTemplate" class="empty-cart">
  Koszyk jest pusty
</p>

<!-- Cart data -->
<ng-template #cartTemplate>

  <!-- Cart product-list -->
  <ul class="cart_list">
    <li *ngFor="let product of (cartData$ | async).products" class="cart-item-list">
      <a href="#" class="remove" (click)="onProductRemoveClick($event, product)">
        ×
      </a>
      <div class="cart-desc">
        <a class="cart-item" [href]="'/shop/' + product.category + '/product-preview/' + product.id">
          {{ product.displayName }}
        </a>
        <span class="product-quantity">
          <span>{{ product.amount }} × </span>
          <span>
            {{ product.price | number : '1.2-2' }}
            {{ product.priceCurrency }}
          </span>
        </span>
      </div>
      <a (click)="$event.preventDefault()" class="cart-thumb" href="#">
        <img [src]="product.imageSrc" alt="">
      </a>
    </li>
  </ul>

  <!-- Subtotal -->
  <span class="subtotal">
      <strong>Suma:</strong>
      <span class="amount">
        {{ (cartData$ | async).sum | number : '1.2-2' }}
        {{ (cartData$ | async).sumCurrency }}
      </span>
  </span>

  <!-- Buttons -->
  <span class="buttons">
    <a (click)="$event.preventDefault()" [routerLink]="'/cart/preview'">
      Zobacz koszyk
    </a>
  </span>

</ng-template>
