.details-tabs {

  list-style: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
  position: relative;
  border: none;
  border-radius: 0;
  display: flex;
  flex-flow: row wrap;

  li {

    border: none;
    position: relative;
    z-index: 0;
    border-radius: 0;
    background: #f2f2f2;
    padding: 0 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50px;
    cursor: pointer;
    font-weight: 700;
    flex: 1 1 100%;
    transition: background ease-in-out 250ms;

    @media (min-width: 576px) {
      flex: 1 1 50%;
    }

    @media (min-width: 768px) {
      flex: 1 1 25%;
    }

    &.active {
      color: #2f2f2f;
      background: #dadada;
    }

    &:not(.active):hover {
      color: #3c5c9e;
    }

  }

}

p {
  margin-bottom: 0;
  margin-top: 25px;
  font-weight: 100;
}

.review {

  display: flex;
  margin-top: 25px;

  i {
    font-size: 40px;
    width: 50px;
    display: flex;
  }

  .comment-text {

    flex: 1;
    display: flex;
    flex-wrap: wrap;
    font-weight: 100;

    .review-meta {
      flex: 1;
      margin: 0;
      color: #333;
    }

    app-rating-stars {
      display: flex;
      height: fit-content;
      align-self: center;
    }

    .review-description {
      flex: 1;
      display: flex;
      flex-basis: 100%;
    }

  }

}

.no-review {
  margin-top: 25px;
  text-align: center;
}

.add-review {

  margin-top: 25px;

  .caption {
    color: #2f2f2f;
    display: block;
    float: left;
    width: 100%;
    line-height: 1;
    padding-top: 0;
    padding-bottom: 20px;
    margin-bottom: 0;
    text-align: left;
    margin-top: 0;
    border-top: none;
    letter-spacing: -0.3px;
    font-size: 18px;
    font-weight: bold;
  }

  .form-control-wrapper {
    margin-bottom: 10px;
  }

  input, textarea {
    height: 48px;
    padding: 15px 25px;
    width: 100%;
    outline: none;
    line-height: 18px;
    color: #333;
    font-weight: bold;
    font-size: 13px;
    border: 2px solid rgba(0, 0, 0, 0.1);
    margin: 0;
    resize: none;
  }

  textarea {
    height: initial !important;
  }

  label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: bold;
  }

  button {

    background-color: #3c5c9e;
    color: #fff;
    min-width: 170px;
    font-size: 14px;
    font-weight: 900;
    padding: 16px 25px;
    border: 2px solid #3c5c9e;
    transition: 0.3s !important;
    text-align: center;
    margin: auto;
    text-transform: uppercase;
    box-sizing: border-box;
    line-height: 1;
    cursor: pointer;
    outline: 0;
    text-decoration: none;
    display: inline-block;

    &:active, &:focus {
      background: transparent;
      color: #3c5c9e;
    }

    @media (hover) {
      &:hover {
        background: transparent;
        color: #3c5c9e;
      }
    }

  }

}
