<!-- Details tabs -->
<div class="row">
  <div class="col-12">
    <ul class="details-tabs">
      <li [class.active]="activeDetailsTab === EDetailsTab.Description"
          (click)="activeDetailsTab = EDetailsTab.Description">
        Opis
      </li>
      <li [class.active]="activeDetailsTab === EDetailsTab.AdditionalInformation"
          (click)="activeDetailsTab = EDetailsTab.AdditionalInformation">
        Dodatkowe informacje
      </li>
      <li [class.active]="activeDetailsTab === EDetailsTab.Reviews"
          (click)="activeDetailsTab = EDetailsTab.Reviews">
        Opinie
      </li>
    </ul>
  </div>
</div>

<!-- Description -->
<div class="row" *ngIf="activeDetailsTab === EDetailsTab.Description">
  <div class="col-12">
    <p [innerHTML]="productDetails.description"></p>
  </div>
</div>

<!-- Additional information -->
<div class="row" *ngIf="activeDetailsTab === EDetailsTab.AdditionalInformation">
  <div class="col-12">
    <p [innerHTML]="productDetails.additionalInformation"></p>
  </div>
</div>

<!-- Reviews section -->
<div class="row" *ngIf="activeDetailsTab === EDetailsTab.Reviews">
  <div class="col-12">

    <!-- Users review -->
    <div class="review" *ngFor="let review of productDetails.reviews">
      <i class="fas fa-user"></i>
      <div class="comment-text">
        <p class="review-meta">
          <strong>{{ review.authorName }}</strong>
          <span> – </span>
          <span>{{ review.publishedDate | date }}</span>
        </p>
        <app-rating-stars [currentValue]="review.rating" [maxValue]="5" [minValue]="0"></app-rating-stars>
        <div class="review-description">{{ review.content }}</div>
      </div>
    </div>

    <!-- No reviews -->
    <div class="no-review" *ngIf="productDetails.reviews.length === 0">
      Brak dostępnych opinii o produkcie.
    </div>

  </div>
</div>

<!-- Add review -->
<div class="row add-review" *ngIf="activeDetailsTab === EDetailsTab.Reviews">

  <!-- Caption -->
  <div class="col-12">
    <span class="caption">Dodaj swoją opinię</span>
  </div>

  <!-- Name -->
  <div class="col-md-6 form-control-wrapper">
    <label>Imię&nbsp;*</label>
    <input type="text" value="" size="30" required="">
  </div>

  <!-- Surname -->
  <div class="col-md-6 form-control-wrapper">
    <label>Nazwisko</label>
    <input type="text" value="" size="30" required="">
  </div>

  <!-- Rating -->
  <div class="col-md-6 form-control-wrapper">
    <label>Ocena (1-5)&nbsp;*</label>
    <input type="number" value="" size="30" required="">
  </div>

  <!-- Email -->
  <div class="col-md-6 form-control-wrapper">
    <label>Adres email</label>
    <input type="email" value="" size="30" required="">
  </div>

  <!-- Email -->
  <div class="col-12 form-control-wrapper">
    <label>Twoja opinia</label>
    <textarea rows="8" required=""></textarea>
  </div>

  <!-- Submit -->
  <div class="col-12">
    <button ontouchstart type="button">Wyślij opinię</button>
  </div>

</div>
