<!-- Current image -->
<div class="row current-image-wrapper" *ngIf="images[currentImageIndex]">
  <div class="col-12">
    <img [src]="images[currentImageIndex].url"
         [alt]="images[currentImageIndex].altText"
         (click)="openGallery(currentImageIndex)"/>
  </div>
</div>

<!-- No image -->
<div class="row h-100 no-image-wrapper" *ngIf="!images[currentImageIndex]">
  <div class="col-12">
    <i class="fas fa-image"></i>
  </div>
</div>


<!-- Images list -->
<div class="row" *ngIf="images.length > 1">
  <div class="col-12 images-list-wrapper">
    <i class="fas fa-angle-left" (click)="onCarouselPreviousButtonClick(owlCarousel)"></i>
    <owl-carousel-o [options]="carouselOptions" #owlCarousel>
      <ng-container *ngFor="let image of images; let i = index">
        <ng-template carouselSlide>
          <img [src]="image.thumbnailUrl" [alt]="image.altText" (click)="currentImageIndex = i">
        </ng-template>
      </ng-container>
    </owl-carousel-o>
    <i class="fas fa-angle-right" (click)="onCarouselNextButtonClick(owlCarousel)"></i>
  </div>
</div>

<!-- Light box gallery -->
<ngx-image-gallery [images]="images" [conf]="galleryConfiguration"></ngx-image-gallery>
