<!-- Parallax overlay -->
<section #backgroundContainer class="parallax-container">

  <!-- Image -->
  <div #backgroundOverlay class="parallax-overlay"></div>

  <!-- Content -->
  <div class="container">
    <div class="row">
      <div class="col-12">
        <p>Szeroki wachlarz części</p>
        <h2>Przejdź do wybranej<br> kategori sklepu</h2>
      </div>
    </div>
  </div>

</section>

<!-- Shop categories -->
<section class="categories">
  <div class="container">

    <div class="row">

      <!-- Car parts -->
      <div class="col-sm-12 col-md-6">
        <div class="category-tile">
          <img alt="" src="assets/images/categories/category1.jpg"/>
          <h4>Części samochodowe</h4>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua.
          </p>
          <a ontouchstart [href]="'/shop/' + EShopCategory.CarParts">Przejdź</a>
        </div>
      </div>

      <!-- Wheels -->
      <div class="col-sm-12 col-md-6">
        <div class="category-tile">
          <img alt="" src="assets/images/categories/category2.jpg"/>
          <h4>Felgi</h4>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua.
          </p>
          <a ontouchstart [href]="'/shop/' + EShopCategory.Wheels">Przejdź</a>
        </div>
      </div>
    </div>

    <div class="row">

      <!-- Tires -->
      <div class="col-sm-12 col-md-6">
        <div class="category-tile">
          <img alt="" src="assets/images/categories/category3.jpg"/>
          <h4>Opony</h4>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua.
          </p>
          <a ontouchstart [href]="'/shop/' + EShopCategory.Tires">Przejdź</a>
        </div>
      </div>

      <!-- Accessories -->
      <div class="col-sm-12 col-md-6">
        <div class="category-tile">
          <img alt="" src="assets/images/categories/category4.jpg"/>
          <h4>Akcesoria</h4>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua.
          </p>
          <a ontouchstart [href]="'/shop/' + EShopCategory.Accessories">Przejdź</a>
        </div>
      </div>

    </div>

  </div>
</section>
