<div #contentWrapper class="content-wrapper">

  <div #backgroundOverlay class="background-overlay">
    <img alt="" src="../../../assets/images/baner/slide1.jpg"/>
    <img alt="" src="../../../assets/images/baner/slide2.jpg"/>
    <img alt="" src="../../../assets/images/baner/slide3.jpg"/>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1>Części od sprawdzonych sprzedawców</h1>
        <a (click)="scrollDown()" class="tt_button">Przejdź niżej</a>
        <a [routerLink]="'/generals/about'" class="tt_button_white">O nas</a>
      </div>
    </div>
  </div>

</div>
