/* Bootstrap grid system */
@import '~bootstrap/scss/bootstrap-reboot';
@import '~bootstrap/scss/bootstrap-grid';

/* Fa icons */
$fa-font-path: '~@fortawesome/fontawesome-free/webfonts';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/brands';

/* Hamburger menu */
$hamburger-layer-width: 20px !default;
$hamburger-layer-height: 3px !default;
$hamburger-layer-spacing: 3px !default;
@import "~hamburgers/_sass/hamburgers/hamburgers";

html, body {
  font-family: museo-sans;
}

.container {

  padding-right: 30px;
  padding-left: 30px;

  @media (min-width: 576px) {
    max-width: inherit;
  }

  @media (min-width: 768px) {
    max-width: inherit;
  }

  @media (min-width: 1200px) {
    max-width: 1240px;
  }

}
