<!-- Title -->
<div class="row">
  <div class="col-12">
    <h1>Wyszukiwanie</h1>
  </div>
</div>

<!-- Search depending on shop category -->
<ng-container [ngSwitch]="shopCategory$ | async">
  <app-search-car-parts *ngSwitchCase="EShopCategory.CarParts"></app-search-car-parts>
  <app-search-wheels *ngSwitchCase="EShopCategory.Wheels"></app-search-wheels>
  <app-search-tires *ngSwitchCase="EShopCategory.Tires"></app-search-tires>
  <app-search-accessories *ngSwitchCase="EShopCategory.Accessories"></app-search-accessories>
</ng-container>

<!-- Search button -->
<div class="row">
  <div class="col-12">
    <button ontouchstart type="button">
      <i class="fas fa-search"></i> Szukaj
    </button>
  </div>
</div>
