<!-- Title -->
<div class="row">
  <div class="col-12">
    <h1>Wyszukiwanie</h1>
  </div>
</div>

<!-- Filters -->
<div class="row">
  <div class="col-md-4">
    <input type="search" class="search-field" placeholder="Marka"/>
  </div>
  <div class="col-md-4">
    <input type="search" class="search-field" placeholder="Model"/>
  </div>
  <div class="col-md-4">
    <input type="search" class="search-field" placeholder="Typ"/>
  </div>
</div>

<!-- Search button -->
<div class="row">
  <div class="col-12">
    <button type="button">
      <i class="fas fa-search"></i> Szukaj
    </button>
  </div>
</div>
